body {
  background-image: url("../media/white.jpg");
  background-size: 100% 100%;
}

#page-wrapper {
  width: 1150px;
  margin: 0 auto;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 1);
  border-radius: 5px; 
  background-image: url("../media/white.jpg");
  background-size: 200%;
}

h1, h2 {font-family: 'acmeregular', Cochin, serif;}

nav#horz1 ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  overflow; hidden;
}

nav#horz1 ul li {
  float: right;
  margin: 0 8px;
  padding-top: 8px;
}

nav#horz1 ul li a {
  display: block;
  background-color: #B4B4B4;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 80px;
  padding: 8px 2px 8px 2px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
}

nav#horz1 ul li a:hover {
  background-color: #fff;
  color: black;
  border-radius: 10px;
}

header#page-info {
  background-image: url("../media/rock.jpg");
  margin-top: 10px;
  padding: .1em;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1);
}

h1 {
  font-size: 3.5em;
  color: #F5F5F5;
}